.editor-block-styles__item.block-editor-block-styles__item {
    .block-editor-block-preview__content {
        .wp-block-til-mediacard {
            text-align: center;
            figure.wp-block-image {
                margin: 0 auto;
                opacity: .7;
            }
            h1,h2,h3,h4,h5,h6 {
                margin-top: 0; 
            }   
        }     
    }

    &[aria-label='Compact'] .block-editor-block-preview__content .wp-block-til-mediacard{
        h1,h2,h3,h4,h5,h6 {
        margin-bottom: 0; 
        }
        p {
            margin: 0;
        }
    }
}